@model IEnumerable<Churn.Models.Account>

@{
    ViewData["Title"] = "Accounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="crud-banner" class="p-4 p-md-5 mb-4 text-white rounded" style="height: 40%; width: 100%;">
    <div class="col-md-10 px-0">
        <h1 class="display-4 fst-italic">
            <img src="~/Images/bank.png" height="100px" />  Accounts For All of Your Goals
        </h1>
        <p class="lead my-3">Browse accounts from various financial institutions based on interest rates, minimum balance requirements, and more.</p>
    </div>
</div>


<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table t" id="accountTable">
    <thead class="table-borderless">
        <tr class="alert">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinimumBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterestRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaximumWithdrawalLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageFileName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinimumBalance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InterestRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaximumWithdrawalLimit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageFileName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#accountTable').DataTable({
                "paging": true,
                "pageLength": 10,
                "ordering": true,
                "order": [],
                "searching": true,
                "language": {
                    "searchPlaceholder": "Search accounts..."
                },
            });
        });
    </script>
}
