@model Churn.Models.Category


@{
    if (Model.Products == null || !Model.Products.Any() || string.IsNullOrEmpty(Model.Name))
    {
        <h1>No Products in this category are currently available.</h1>
    }
    else
    {
        ViewData["Title"] = "Shop products for " + Model.Name;
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<h1>@ViewData["Title"]</h1>

<div class="card-container row row-cols-1 row-cols-md-2 row-cols-lg-3 justify-content-center">
    @foreach (var item in Model.Products)
    {
        <div class="col mb-4">
            <div class="card h-100 p-3">
                <img src="~/images/products/@item.Photo" class="card-img-top" alt="@item.Name">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Description</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Interest Rate: @item.InterestRate</li>
                        <li class="list-group-item">Term Length: @item.TermLength</li>
                        <li class="list-group-item">Limit: @item.Limit</li>
                        <li class="list-group-item">Annual Fees: @item.AnnualFees</li>
                        <li class="list-group-item">Category: @item.Category.Name</li>
                    </ul>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <form asp-action="AddToCart">
                            <input type="hidden" name="productId" value="@item.Id">
                            <input type="hidden" name="quantity" value="1">
                            <button type="submit" class="btn btn-outline-secondary">Quick Add</button>
                        </form>
                    }
                    <a href="@Url.Action("ProductDetails", new { id = item.Id })" class="btn btn-outline-info ml-2">View Product</a>
                </div>

            </div>
        </div>
    }
</div>

@section Scripts {
    <script>
        // Your DataTable initialization script
        $(document).ready(function () {
            $('#productTable').DataTable({
                "paging": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "language": {
                    "searchPlaceholder": "Search @Model.Name..."
                }
            });
        });
    </script>
}
