@model Churn.Models.Category

@{
    ViewData["Title"] = "Shop products for " + Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault().InterestRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault().TermLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault().Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault().Limit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault().AnnualFees)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault().Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Products) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterestRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TermLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Limit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnnualFees)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                <a asp-action="ProductDetails" asp-route-id="@item.Id">View Details</a> |
                <a asp-controller="Carts" asp-action="AddToCart" asp-route-id="@item.Id">Add to Cart</a>
            </td>
        </tr>
}
    </tbody>
</table>
