@model IEnumerable<Churn.Models.Loan>

@{
    ViewData["Title"] = "Loans";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="crud-banner"  class="p-4 p-md-5 mb-4 text-white rounded" style="height: 40%; width: 100%;">
    <div class="col-md-10 px-0">
        <h1 class="display-4 fst-italic">
            <img src="~/Images/personal.png" height="100px" />  Get the Loan You Need
        </h1>
        <p class="lead my-3">Find the perfect loan tailored to your financial needs, offering competitive interest rates, flexible repayment options, and quick approval process.</p>
    </div>
</div>

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="accountTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterestRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanTermMonths)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Collateral)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InterestRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoanAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoanTermMonths)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Collateral)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('#accountTable').DataTable({
                "paging": true,
                "pageLength": 10,
                "ordering": true,
                "order": [],
                "searching": true,
                "language": {
                    "searchPlaceholder": "Search loans..."
                },
            });
        });
    </script>
}
